body {
  font-family: Arial, Helvetica, sans-serif;
  background: wheat;
}

.container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

.sub-heading {
  font-family: 'Courier New', Courier, monospace;
}

.score-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score-board {
  list-style-type: none;
  border: 1px solid rgb(0, 0, 0);
  width: 82%;
  padding: 0;
}

.score-item {
  padding: 3px 15px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.score-item:nth-child(odd) {
  background-color: rgb(224, 124, 124);
}

.refresh-btn {
  margin-right: 70px;
  height: 30px;
  background-color: rgb(23, 173, 23);
  border: none;
  color: white;
}

.form-section {
  width: 100%;
}

.form-control {
  list-style-type: none;
  padding-left: 0;
}

.form-control li {
  margin: 5% 0;
}

input {
  width: 98%;
  height: 30px;
}

.submit-btn {
  float: right;
  height: 30px;
  background-color: rgb(104, 27, 176);
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 2px;
  padding: 10px 15px;
}
